<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Curso</title>
    <link rel="stylesheet" href="../../public/css/styles.css">
    <link rel="icon" href="../../public/Imagens/icone.png" type="icone_site">
</head>
<body>
    <nav class="navbar">
        <h1>Detalhes do Curso</h1>
        <div>
            <a href="index.html">Início</a>
            <a href="cursos.html">Cursos</a>
            <a href="sobre-nos.html">Sobre Nós</a>
            <a href="contato.html">Contato</a>
        </div>
    </nav>

    <div class="dashboard-container">
        <main class="main-content content-card">
            <h2 id="course-title">Nome do Curso</h2>
            <p id="course-description">Esta é a página de detalhes para um curso. Aqui você encontrará informações aprofundadas sobre o currículo, professores, requisitos e muito mais.</p>
            <ul id="course-careers"></ul>
            <a href="#" id="enroll-button" class="btn">Inscrever-se</a>
            <a href="cursos.html" class="btn">Ver Todos os Cursos</a>
        </main>
    </div>
    <a href="https://wa.me/5549999999999" class="whatsapp-button" target="_blank">
        <img src="../../public/Imagens/icone_wpp.png" alt="WhatsAppCrescer">
    </a>
    <script src="../../public/js/main.js"></script>
</body>
</html>
