<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formar & Crescer - Transforme o seu futuro</title>
    <link rel="stylesheet" href="../../public/css/styles.css">
    <link rel="icon" href="../../public/Imagens/icone.png" type="icone_site">

  </head>
  <body>
    <nav class="navbar">
        <h1>Formar & Crescer</h1>
        <div>
          <a href="index.html">Início</a>
          <a href="cursos.html">Cursos</a>
          <a href="sobre-nos.html">Sobre Nós</a>
          <a href="contato.html">Contato</a>
        </div>
    </nav>

    <div class="dashboard-container">
        <main class="main-content login-layout">
            <div class="login-form">
                <form novalidate>

                    <div class="form-group col-md-4">

                        <label for="nome">Nome</label>

                        <input type="text" id="nome" required />

                    </div>



                    <div class="form-group col-md-4">

                        <label for="sobrenome">Sobrenome</label>

                        <input type="text" id="sobrenome" required />

                    </div>



                    <div class="form-group col-md-4">

                        <label for="usuario">Nome de usuário</label>

                        <input

                            type="text"

                            id="usuario"

                            required

                        />

                    </div>



                    <div class="form-group col-md-6">

                        <label for="cidade">Cidade</label>

                        <input type="text" id="cidade" required />

                    </div>



                    <div class="form-group col-md-3">

                        <label for="curso">Selecione o Curso</label>

                        <select id="curso" required>

                            <option selected disabled value="">...</option>

                            <option>Sistemas de Informação</option>

                            <option>Ciência da Computação</option>

                            <option>Engenharia de Software</option>

                            <option>Análise e Desenvolvimento de Sistemas</option>

                            <option>Engenharia Civil</option>

                            <option>Direito</option>

                            <option>Administração</option>

                            <option>Enfermagem</option>

                            <option>Arquitetura e Urbanismo</option>

                            <option>Educação Física</option>

                        </select>

                    </div>



                    <div class="form-group col-12">

                        <div class="form-check">

                            <input type="checkbox" id="termos" required />

                            <label for="termos">

                                Concordo com os termos e condições.

                            </label>

                        </div>

                    </div>



                    <div class="col-12">

                        <button class="btn" type="submit">Enviar</button>

                    </div>

                </form>
            </div>
            <div class="right-side">
                <img src="../../public/Imagens/estudo.jpeg" alt="Estudo">
            </div>
        </main>
    </div>

    <a href="https://wa.me/5549999999999" class="whatsapp-button" target="_blank">
        <img src="../../public/Imagens/icone_wpp.png" alt="WhatsAppCrescer">
    </a>

    <script src="../../public/js/main.js"></script>

  </body>

</html>
