<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formar & Crescer - Transforme o seu futuro</title>

    <link rel="stylesheet" href="/css/styles.css"> 
    
    <link rel="icon" href="/Imagens/icone.png" type="image/png"> 
</head>
<body>
    <nav class="navbar">
        <h1>Formar & Crescer</h1>
        <div>
            <a href="/">Início</a>
            <a href="/cursos">Cursos</a>
            <a href="/sobre">Sobre Nós</a>
            <a href="/contato">Contato</a>
        </div>
    </nav>

    <div class="dashboard-container">
        <main class="main-content login-layout"> 
            
            <form class="login-form">
                <h2>Entrar</h2>
                <div class="input-group">
                    <label for="username">Usuário</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="input-group">
                    <label for="password">Senha</label>
                    <input type="password" id="password" name="password" required>
                </div>

                <div id="error-message" class="error-message"></div>

                <button type="submit" class="btn">Acessar</button>
                <button type="button" class="btn criar-conta" onclick="window.location.href='/register'">Criar uma conta</button>
                
                <div class="forgot-password">
                    <a href="#">Esqueceu a senha?</a>
                </div>
            </form>

            <div class="right-side">
                <img src="/Imagens/cursos.jpg" alt="Oportunidades">
            </div>
        </main>
    </div>

    <a href="https://wa.me/5549999999999" class="whatsapp-button" target="_blank">
        <img src="/Imagens/icone_wpp.png" alt="WhatsAppCrescer">
    </a>

    <script src="/js/login.js"></script>
</body>
</html>