body {
    margin: 0;
    font-family: "Times New Roman", sans-serif;
    height: 100vh;
}

.main-content {
    display: flex;
    min-height: 100vh;
}

.login-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 40px;
}

.login-form {
    width: 100%;
    max-width: 400px;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}


.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #e06404;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}
button.criar-conta {
    background-color: #9e3a08;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    margin-top: 10px;
}

button.criar-conta:hover {
    background-color: #e65f06;
}


.login-form button:hover {
    background-color: #dc6803;
}

.forgot-password {
    text-align: center;
    margin-top: 10px;
}

.forgot-password a {
    color: #e96303;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.right-side img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
}

@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
    }

    .right-side {
        margin-top: 20px;
    }

    .right-side img {
        max-width: 60%;
        max-height: 200px;
    }
}
